<<<<<<< HEAD
body {
    background-color: #222;
    font-size: 24px;
    color: #fff;




=======



body {
    background-color: #222;
    font-size: 24px;
    color: #fff;
>>>>>>> 7bc929d432e81119e60f1c1136d483cd50a9c991
}